.navbar {
    background-color: #b70623;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    margin: 0;
    border-radius: 15px;
    height: 80px;
    font-family: "Goudy Stout", sans-serif;
    font-size: 20px;
}

.navbar .logo {
    display: inline-block;
}

.navbar .logo img {
    max-height: 60px; /* Höhe des Logos verringern */
    max-width: 100%;
    height: auto;
    width: auto;
}

.navbar .account-icon img {
    max-height: 40px; /* Höhe des Kontobildes verringern */
    max-width: 40px; /* Breite des Kontobildes verringern */
    height: auto;
    width: auto;
}

.navbar a:not(:first-child) {
    color: white;
    text-decoration: none;
    padding: 14px 10px; /* Horizontales Padding verringern */
    transition: background-color 0.3s;
}

.navbar a:not(:first-child):hover {
    background-color: #e6d97a;
    color: #b70623;
}

.select-field {
    background-color: #b70623;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
    .navbar {
        padding: 10px 15px;
        flex-direction: column;
        align-items: center; /* Links zentrieren */
        height: auto; /* Höhe auf automatisch ändern */
    }

    .navbar a:not(:first-child) {
        padding: 10px 0; /* Vertikales Padding hinzufügen */
        width: 100%; /* Vollständige Breite für Links */
        text-align: center; /* Text zentrieren */
    }

    .navbar .select-field {
        margin-top: 10px;
        width: 100%; /* Vollständige Breite für Auswahlfeld */
        text-align: center; /* Text zentrieren */
    }
}

@media only screen and (max-width: 480px) {
    .navbar .logo img {
        max-height: 50px; /* Höhe des Logos weiter verringern */
    }
}